body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u1 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:204px;
  top:439px;
  width:82px;
  height:84px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:302px;
  top:462px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:666px;
  top:462px;
  width:119px;
  height:55px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:210px;
  top:873px;
  width:82px;
  height:84px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:308px;
  top:907px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:672px;
  top:898px;
  width:119px;
  height:55px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:55px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:210px;
  top:1039px;
  width:82px;
  height:84px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:308px;
  top:1072px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:210px;
  top:1194px;
  width:82px;
  height:84px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:308px;
  top:1228px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:672px;
  top:1223px;
  width:119px;
  height:55px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:55px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:363px;
  top:557px;
  width:292px;
  height:283px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:283px;
}
#u25 {
  position:absolute;
  left:2px;
  top:134px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:406px;
  top:840px;
  width:92px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:30px;
  top:36px;
  width:973px;
  height:264px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:264px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:666px;
  top:1079px;
  width:69px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:414px;
  top:1299px;
  width:162px;
  height:111px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:111px;
}
#u33 {
  position:absolute;
  left:2px;
  top:48px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
