body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1172px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:731px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:65px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:65px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-18px;
  top:98px;
  width:748px;
  height:1692px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:1692px;
}
#u5 {
  position:absolute;
  left:2px;
  top:838px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:164px;
  top:6px;
  width:306px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:398px;
  top:-3px;
  width:322px;
  height:79px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:79px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:193px;
  top:22px;
  width:141px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:28px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:90px;
  width:730px;
  height:270px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:270px;
}
#u13 {
  position:absolute;
  left:2px;
  top:127px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:37px;
  top:122px;
  width:231px;
  height:207px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:207px;
}
#u15 {
  position:absolute;
  left:2px;
  top:96px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:-15px;
  top:90px;
  width:745px;
  height:270px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:270px;
}
#u17 {
  position:absolute;
  left:2px;
  top:127px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:268px;
  top:134px;
  width:141px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:28px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:268px;
  top:187px;
  width:419px;
  height:112px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:112px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:55px;
  top:154px;
  width:120px;
  height:135px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:135px;
}
#u23 {
  position:absolute;
  left:2px;
  top:60px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:230px;
  top:122px;
  width:10px;
  height:200px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u25 {
  position:absolute;
  left:905px;
  top:313px;
  width:75px;
  height:70px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:70px;
}
#u26 {
  position:absolute;
  left:2px;
  top:27px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1030px;
  top:323px;
  width:160px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:14px;
  color:#434343;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:906px;
  top:404px;
  width:56px;
  height:49px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:49px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:905px;
  top:475px;
  width:56px;
  height:45px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1044px;
  top:410px;
  width:109px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:14px;
  color:#434343;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1043px;
  top:475px;
  width:109px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:14px;
  color:#434343;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:500px;
  width:730px;
  height:520px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:520px;
}
#u38 {
  position:absolute;
  left:2px;
  top:252px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:-8px;
  top:1142px;
  width:737px;
  height:590px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:590px;
}
#u40 {
  position:absolute;
  left:2px;
  top:287px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:613px;
  top:1370px;
  width:74px;
  height:70px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:70px;
}
#u42 {
  position:absolute;
  left:2px;
  top:27px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
