body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:716px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:716px;
}
#u1 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:30px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:135px;
  top:94px;
  width:235px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:134px;
  top:125px;
  width:236px;
  height:48px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:48px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:25px;
  top:195px;
  width:345px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:328px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:345px;
  height:1px;
}
#u9 {
  position:absolute;
  left:26px;
  top:85px;
  width:98px;
  height:90px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:90px;
}
#u10 {
  position:absolute;
  left:2px;
  top:37px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:137px;
  top:232px;
  width:235px;
  height:19px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:136px;
  top:263px;
  width:236px;
  height:48px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:27px;
  top:345px;
  width:343px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:326px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:343px;
  height:1px;
}
#u16 {
  position:absolute;
  left:28px;
  top:223px;
  width:98px;
  height:90px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:90px;
}
#u17 {
  position:absolute;
  left:2px;
  top:37px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:138px;
  top:378px;
  width:235px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:137px;
  top:409px;
  width:236px;
  height:48px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:28px;
  top:497px;
  width:342px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:325px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:342px;
  height:1px;
}
#u23 {
  position:absolute;
  left:29px;
  top:369px;
  width:98px;
  height:90px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:90px;
}
#u24 {
  position:absolute;
  left:2px;
  top:37px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:139px;
  top:542px;
  width:235px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:138px;
  top:573px;
  width:236px;
  height:48px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:48px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:533px;
  width:98px;
  height:90px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:90px;
}
#u30 {
  position:absolute;
  left:2px;
  top:37px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
