body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1947px;
  font-size:14px;
  color:#333333;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1947px;
}
#u1 {
  position:absolute;
  left:2px;
  top:966px;
  width:1362px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:777px;
  top:121px;
  width:596px;
  height:110px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:47px;
  width:592px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1110px;
  top:128px;
  width:50px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:776px;
  top:227px;
  width:403px;
  height:339px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:339px;
}
#u7 {
  position:absolute;
  left:2px;
  top:162px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:784px;
  top:393px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:802px;
  top:432px;
  width:71px;
  height:75px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:782px;
  top:497px;
  width:135px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:807px;
  top:263px;
  width:315px;
  height:16px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:939px;
  top:432px;
  width:71px;
  height:75px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u17 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:919px;
  top:497px;
  width:135px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1071px;
  top:432px;
  width:71px;
  height:75px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u21 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1051px;
  top:497px;
  width:135px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:806px;
  top:547px;
  width:71px;
  height:75px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u25 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:786px;
  top:612px;
  width:135px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:943px;
  top:547px;
  width:71px;
  height:75px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u29 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:923px;
  top:612px;
  width:135px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1075px;
  top:547px;
  width:71px;
  height:75px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u33 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1055px;
  top:612px;
  width:135px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:811px;
  top:650px;
  width:71px;
  height:75px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u37 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:791px;
  top:715px;
  width:135px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:948px;
  top:650px;
  width:71px;
  height:75px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u41 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:928px;
  top:715px;
  width:135px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1080px;
  top:650px;
  width:71px;
  height:75px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u45 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1060px;
  top:715px;
  width:135px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:783px;
  top:201px;
  width:386px;
  height:32px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:32px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:786px;
  top:240px;
  width:10px;
  height:140px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:123px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:140px;
}
#u51 {
  position:absolute;
  left:786px;
  top:301px;
  width:12px;
  height:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:786px;
  top:264px;
  width:12px;
  height:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:786px;
  top:339px;
  width:12px;
  height:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
